body {
    background: #210c39;
    margin-top: 50px;
}

.container {
    width: 350px;
    height: 700px;
    background: #371b59;
    border-radius: 40px;
}

.top-menu {
    overflow: hidden;
}

.top-menu>span {
    color: rgb(210, 255, 213, 0.3);
    font-size: 12px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.top-menu>span.active {
    color: #d2ffd5;
    position: relative;
}

.top-menu>span.active::before {
    content: "";
    width: 2px;
    height: 6px;
    background: #d2ffd5;
    position: absolute;
    left: 43px;
    top: -15px;
}

div.clock-bg {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #180138 20%, #6e39b4);
    box-shadow: 16px 28px 28px 8px #220e3a, -28px -28px 20px 0px #4b257a, inset -5px -5px 5px #6f41a7;
    filter: blur(5px);
}

div.center-point {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #d2ffd5;
}

div.minute {
    width: 60px;
    height: 7px;
    background: #d2ffd5;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px black;
    transform: rotate(280deg) translate(50px);
}

div.hour {
    width: 40px;
    height: 7px;
    background: #d2ffd5;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px black;
    transform: rotate(10deg) translate(40px);
}

div.date {
    font-size: 20px;
    color: #d2ffd5;
}

.bottom-menu>span>i {
    color: rgb(210, 255, 213, 0.3);
    font-size: 14px;
}

.bottom-menu>span.active>i {
    color: #d2ffd5;
}

.bottom-menu>span.active {
    position: relative;
}

.bottom-menu>span.active::before {
    content: '';
    width: 2px;
    height: 6px;
    background: #d2ffd5;
    position: absolute;
    left: 6px;
    bottom: -20px;
}